---
import type { CollectionEntry } from "astro:content";

import { getPosts } from "@/utils";
import Base from "@/layouts/Base.astro";
import FormattedDate from "@/components/FormattedDate.astro";

export function sortPostsByDate(posts: CollectionEntry<"posts">[] = []) {
  return posts.sort((a, b) => new Date(b.data.publishedAt).valueOf() - new Date(a.data.publishedAt).valueOf());
}

const allPosts = await getPosts();
const posts = sortPostsByDate(allPosts);

const meta = { title: "Posts" };
---

<Base meta={meta}>
  <h1 class="title mb-6">Posts</h1>
  <div class="grid gap-y-16 sm:gap-x-8">
    <section aria-label="Post list">
      <ul class="space-y-8 text-start">
        {
          posts.map((post) => (
            <li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
              <FormattedDate date={post.data.publishedAt} class="min-w-[120px] text-textColor/[.8]" />
              <a class="underline" href={`/posts/${post.id}/`} rel="prefetch">
                {post.data.title}
              </a>
              <q class="line-clamp-3 block text-sm text-accent2">{post.data.description}</q>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Base>
